/* ebookbuild.css - Licenced under Creative Commons Zero 1.0 (CC0)

/*Fonts*/

@font-face {
	font-family: "Oblivion";
	src: url("../fonts/Oblivion/Oblivion.ttf");
}

@font-face {
	font-family: "Falmer";
	src: url("../fonts/FalmerFont/Falmer.ttf");
}

@font-face {
    font-family: "Dragon";
    src: url("../fonts/SR-Dragon_script/Dragon_script.ttf");
}

@font-face {
    font-family: "Sovngarde";
    src: url("../fonts/Sovngarde/SovngardeBold.otf");
}

/* Cover */

img.cover {
    width: 100%;
    height: 100%;
}

/* Title */

h1.title {
    font-size: 3em;
    font-family: "Sovngarde", serif;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Indicia */

h1.indicia-heading {
    font-size: 1em;
    font-family: serif;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p.indicia {
    text-indent: 1em;
    font-size: 0.9em;
    font-family: serif;
    text-align: justify;
}


/* Headings */

h1.heading {
    font-size: 1.5em;
    font-family: serif;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

/* Contents headings */

h1.toc {
	text-indent: 0em;
	font-size: 1.1em;
	font-family: serif;
	font-weight: bold;
	font-variant: normal;
    margin-top: 0.5em;
	margin-bottom: 0em;
}

h2.toc {
	text-indent: 1em;
	font-size: 1.1em;
	font-family: serif;
	font-weight: normal;
	font-variant: normal;
    margin-top: 0.1em;
	margin-bottom: 0.1em;
}

/* Chapter headings*/

h1.chapterheading {
    font-size: 1.5em;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

h2.chapterheading {
    font-size: 1.3em;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

h3.chapterheading {
    font-size: 1.1em;
    font-family: serif;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

h4.chapterheading {
    font-size: 1.2em;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/* Subheadings */

h1.subheading {
    font-size: 1.3em;
    font-family: serif;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5em;
}

h2.subheading {
    font-size: 1.1em;
    font-family: serif;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5em;
}


/* Paragraphs */

p {
    text-indent: 1em;
    font-size: 1em;
    font-family: serif;
    font-weight: none;
    text-align: justify;
    margin: 0em;
}

p.noindent {
    text-indent: 0em;
}

/* Text formatting */

.mono {
    font-family: monospace;
}

/* Margins */

p.lmargin2 {
    text-indent: 0em;
    margin-left: 2em;
}

.top {
    margin-top: 1em;
}

/* Text alignment */

.center {
    text-align: center!important;
}

.right {
    text-align: right!important;
}

/* Lists */

ol, ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    font-size: 1em;
    font-family: serif;
    margin-top: 0.1em;
}

/* Tables */

table {
    margin-top: 1em;
    margin-bottom: 1em;
}

td {
    font-size: 1em;
    font-family: serif;
}

/* Quotes */

.quote {
    font-size: 0.9em;
}

/* Scene Break */

p.scene-break {
    font-size: 1.1em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Book-specific tags */

.dragon {
    font-size: 1.2em;
    font-family: "Dragon"!important;
}